{% extends 'main.html' %}
{% load static %}
{% block tytul %} Query info {{ oinf.rec.q.id }}{% endblock %}
{% block strona %}
     Query: <b> {{ oinf.rec.q.id }}</b> {{ oinf.rec.q.nqry}} <br>
     {{ oinf.rec.q.nfull}}
{% include  "itemGraphs.html" %}

    <h4> users</h4>
    {% for u in oinf.rec.u %}
        <a href="{% url 'userInfo' u.uid %}"> ({{ u.drt }}) {{ u.unm }} </a>;
    {% endfor %}
    <h4> hosts</h4>
    {% for h in oinf.rec.h %}
        <a href="{% url 'hostInfo' h.hid %}/"> ({{ h.drt }}) {{ h.hnm }} </a>;
    {% endfor %}
    <h4> programs</h4>
    {% for x in oinf.rec.x %}
        <a href="{% url 'prgmInfo' x.xid %}/"> ({{ x.drt }}) {{ x.xnm }} </a>;

    {% endfor %}


    <hr>
    <h4> examples</h4>
    <td>
        {% for x in oinf.rec.qexmpl %}
            <pre> ({{ x.dttm }}) {{ x.stxt }} </pre>;
        {% endfor %}
    </td>



{% endblock %}
